<?php $this->layout('layout.phtml', ['title' => 'Zarejestruj darmowe konto | BudgetPlanner']) ?>


<form class="register-form p-3 m-auto border rounded">
  <h1 class="h3 mb-3 text-center">Zarejestruj darmowe konto</h1>
  <div class="form-group">
    <label for="name">Imię</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Jan">
  </div>
  <div class="form-group">
    <label for="email">Adres email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" required>
  </div>
  <div class="form-group">
      <label for="password--confirmed">Powtórz hasło</label>
      <input type="password" name="passwordConfirmed" id="password--confirmed" class="form-control" placeholder="Hasło" required>
    </div>
  <button type="submit" class="btn btn-primary btn-block">Stwórz konto</button>
</form>
