html,
body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
}

.cover {
    max-width: 450px;
    text-align: center;
}

.page-footer {
    background-color: #20211f;
    font-size: 0.8rem;
    color: gray;
    padding: 1.5rem;
    text-align: center;
}

.register-form,
.login-form {
    max-width: 380px;
}

.add-income-form,
.add-expense-form {
    width: 100%;
    max-width: 500px;
}

.budget-menu {
    width: 100%;
    max-width: 700px;
}

.budget-menu_btn {
    display: block;
    width: 200px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin-top: 1rem;
}

.table-caption {
    caption-side: top;
    text-align: center;
}
